body {
    background-color: #131722;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

button {
    background-color: #a9a9a9;
    color: #2a2e37;
    border: none;
    padding: 20px 40px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

button.auto-clear-on {
    background-color: #3cb9fc;
    color: white;
}
