header {
    display: flex;
    justify-content: space-between;
    font-family: Inter-Light, serif;
    max-height: 44px;
}

body {
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: #131722;
}

#body-container {
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-self: center;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#navbar {
    background-color: #121721;
    width: 100%;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
}

#navbar a {
    color: white;
    text-decoration: none;
    z-index: 1;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #00ADEF;
}

#navbar a:hover {
    background-color: #008DB9;
}

.content-selector {
    margin: 0 5px 0 5px;
}

#content-container {
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: flex;
}

.form-container {
    display: flex;
}

.form-container > div {
    background-color: #1d1f27;
    padding: 30px;
    border-radius: 12px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}