@font-face {
    font-family: Inter-Light;
    src: url("../Assets/Inter/Inter-LightBETA.ttf");
}

@font-face {
    font-family: Inter-Italic;
    src: url("../Assets/Inter/Inter-Italic.ttf");
}

@font-face {
    font-family: Inter-Bold;
    src: url("../Assets/Inter/Inter-Bold.ttf");
}

@font-face {
    font-family: Inter-Regular;
    src: url("../Assets/Inter/Inter-Regular.ttf");
}

/*-*-*-*-*-*-*-*-*-*

Outils généraux

-*-*-*-*-*-*-*-*-*-*/

.undraggable {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/*-*-*-*-*-*-*-*-*-*

Pop-up de cookies

-*-*-*-*-*-*-*-*-*-*/

.cookie-consent {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    padding: 10px 5px 20px 5px; /*top right bottom left*/
    text-align: center;
    z-index: 1000;
}

#cookie-content {
    padding: 10px 10px 10px 10px;
    max-width: 600px;
    margin: 0 auto;
}

#cookie-content > p {
    font-family: Inter-Regular, serif;
    text-align: left;
}

#cookie-text > p {
    font-family: Inter-Regular, serif;
    text-align: left;
}

#cookie-content > h3 {
    font-family: Inter-Bold, serif;
}

#cookie-text {
    columns: 2;
    text-align: left;
}

#p-sep {
    border-left: 1px solid white;
    padding-left: 10px;
}

#buttons {
    justify-self: center;
    width: 300px;
    display: flex;
    justify-content: space-around;
    align-content: space-evenly;
}

.consentBt {
    font-family: Inter-Regular, serif;
    background-color: white;
    color: #292e37;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.consentBt:hover {
    background-color: #121721;
    color: white;
    width: 100%;
    height: 100%;
}

#page-mask {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.darken {
    filter: brightness(0.7);
}

/*-*-*-*-*-*-*-*-*-*

Changement de langue

-*-*-*-*-*-*-*-*-*-*/

#flag1 > img {
    max-height: 4vh;
    max-width: 4vh;
}

.flagplus > img {
    cursor: pointer;
    height: 4vh;
    width: 4vh;
}

.flagplus:hover {
    filter: brightness(0.8);
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 16px;
    z-index: 1;
    padding-top: 4px;
    transition-delay: 2s;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropbtn {
    height: 4vh;
    width: 4vh;
}

/*-*-*-*-*-*-*-*-*-*

Header

-*-*-*-*-*-*-*-*-*-*/

header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    font-family: Inter-Light, serif;
    max-height: 4vh;
    margin-bottom: 5vh;
}

header img,
header button,
header div {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#header-background {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 99.4%;
}

#left-side-header {
    justify-self: flex-start;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#logoHeader {
    height: 4vh;
    width: auto;
    pointer-events: none;
}

#header-return-button {
    color: white;
    font-family: Inter-Regular, serif;
    font-size: 0.9vw;
    padding-left: 2vw;
    z-index: 1;
}

#header-return-button:hover {
    color: #d7d7d7;
    cursor: pointer;
}

#right-side-header {
    justify-self: flex-end;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    font-family: Inter-Light, serif;
    height: 4vh;
}

#fade-logo-banner {
    width: 58vw;
    height: 58vw;
    position: relative;
    top: -40vw;
    pointer-events: none;
    user-select: none;
}

.header-hi-text {
    color: white;
    font-family: Inter-Regular, "Noto Serif KR", serif;
    font-size: 1.2vw;
    padding-right: 2vw;
    align-self: center;
}

.right-header-button {
    justify-self: right;
    display: flex;
    justify-content: center;
    align-content: center;
    color: #a9a9a9;
    background-color: #2a2e37;
    padding-left: 0.579vw;
    padding-right: 0.579vw;
    margin-left: 0.579vw;
    margin-right: 0.579vw;
    border-style: none;
    border-radius: 0.5vw;
    font-family: Inter-Light, "Noto Serif KR", serif;
    font-size: 80%;
    min-height: 4vh;
    min-width: 6.887vw;
    z-index: 1;
}

.right-header-button:hover {
    cursor: pointer;
}

/*-*-*-*-*-*-*-*-*-*

Footer

-*-*-*-*-*-*-*-*-*-*/

footer img,
footer a,
footer div {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

footer a {
    text-decoration: none;
}

footer {
    position: relative;
    padding-left: 12vh;
    padding-bottom: 20px;
    font-family: Inter-Light, serif;
}

#logo-foot {
    height: 48px;
    padding-top: 3vh;
    pointer-events: none;
}

.container-liens {
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

@media screen and (max-width: 965px) {
    .container-liens {
        flex-direction: column;
        display: flex;
        padding: 10px;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .footer-link {
        margin-bottom: 1px;
    }
}

.footer-link {
    color: white;
    text-decoration: none;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.footer-link:hover {
    color: #0066cc;
    cursor: pointer;
}

.container-reseaux {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding-bottom: 20px;
}

.footerSVG {
    height: 40px;
    width: 40px;
    padding: 5px;
}

.footerSVG path {
    fill: white;
}

#instagram-svg:hover path {
    fill: #E4405F;
}

#facebook-svg:hover path {
    fill: #0d4a8d;
}

#x-svg:hover path {
    fill: #1c3461;
}

.footer-truc {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #121721;
    width: 60vw;
    height: 60vh;
    z-index: 1000;
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
}

.footer-retour {
    color: white;
    font-family: Inter-Regular, serif;
    cursor: pointer;
    padding: 5px;
}

/*-*-*-*-*-*-*-*-*-*

Pop Up

-*-*-*-*-*-*-*-*-*-*/

.pop-up {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #121721;
    width: 60vw;
    height: 60vh;
    z-index: 1000;
    display: flex;
    justify-content: flex-end;
    align-content: flex-start;
    border-radius: 2%;
    padding: 15px 10px 15px 10px;
}

.pop-up-retour {
    color: white;
    font-family: Inter-Regular, serif;
    cursor: pointer;
    padding: 5px;
    margin-bottom: 2vh;
}

.pop-up-retour:hover {
    color: #908c8c;
}

.pop-up-content {
    overflow-y: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    max-height: 60vh;
    width: 60vw;
    color: white;
    font-size: 2.5vh;
    font-family: Inter-Regular, serif;
    padding-right: 5vw;
}

.pop-up-content::-webkit-scrollbar {
    background: transparent;
    width: 0;
}

.titre {
    color: #3CB9FC;
}

.form-group button:hover {
    outline: none;
    background-color: white;
    color: black;
    cursor: pointer;
}

.form-group input, .form-group textarea {
    width: 300px;
    padding: 10px;
    background-color: #292e37;
    border: 1px solid #292e37;
    border-radius: 10px;
    margin-bottom: 10px;
    color: white;
    font-size: 15px;
    font-family: "Inter-Regular", 'Noto Serif KR Light', sans-serif;
    resize: none;
}


.form-group button {
    width: 320px;
    padding: 10px;
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
    margin-bottom: 10px;
    color: #757575;
    font-weight: bold;
    font-size: 15px;
    font-family: "Inter-Regular", 'Noto Serif KR Medium', sans-serif;
}

.form-group input::placeholder, .form-group textarea::placeholder {
    color: #A0A0A0;
}

.form-group input:focus, .form-group textarea:focus {
    outline: none;
    border: 1px solid #3cb9fc;
}

.translatable,
a {
    display: inline-block;
}

.close {
    color: white;
    justify-self: flex-end;
}

.close:hover {
    color: grey;
    cursor: pointer;
}

