@font-face {
    font-family: "Inter-Regular", "Noto Serif KR", serif;
    src: url("../Assets/Inter/Inter-Regular.ttf");
}

body {
    background: #121721;
    font-family: "Inter-Regular", "Noto Serif KR", serif;
}

header {
    display: flex;
    justify-content: space-between;
    font-family: "Inter-Regular", "Noto Serif KR", serif;
}


.carousel {
    position: relative;
    width: 900px; /* Ajusté pour afficher 3 images de 300px */
    height: 300px;
    overflow: hidden;
    border-radius: 10px;
    margin: auto;
}
.carousel-track {
    display: flex;
    transition: transform 1s ease;
}
.carousel-slide {
    min-width: 300px; /* Ajusté pour chaque image */
    height: 300px;
}
.carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.carousel-buttons {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    top: 50%;
    transform: translateY(-50%);
}
.carousel-buttons button {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
}
.carousel-buttons button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

#logo-header {
    justify-content: flex-start;
    height: 44px;
    width: 175px;
    pointer-events: none;
    margin: 10px;
}

.homepage_buttons,
#img1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-bottom: 4vh;
}

#img1 {
    position: absolute;
    height: 4vh;
    top: 4vh;
    right: 13vw;
}

#img2 {
    height: 20vh;
}

#log-out:hover {
    opacity: 0.7;
}

.id {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slogan {
    font-family: "Inter-Regular", "Noto Serif KR Black", serif;
    color: white;
    font-size: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slogan.translatable {
    white-space: pre-line;
    text-align: center;
}

.image-container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image-text-title {
    position: absolute;
    font-family: "Inter-Regular", "Noto Serif KR", serif;
    font-size: 1.8em;
    top: 25%;
    color: white;
    font-weight: bold;
    transform: translateY(-50%); /* This centers the text vertically */
    text-align: center; /* Center align the text */
}

.image-text-first-line, .image-text-second-line {
    position: absolute;
    font-family: "Inter-Regular", "Noto Serif KR", serif;
    font-size: 1.2em;
    color: white;
    white-space: pre-line; /* This allows \n to create line breaks */
    text-align: center; /* Center align the text */
}

.image-text-first-line {
    top: 50%; /* This positions the first line in the middle */
    transform: translateY(-50%); /* This centers the text vertically */
}

.image-text-second-line {
    bottom: 20%;
}

.featured-festivals {
    color: white;
    font-family: "Inter-Regular", "Noto Serif KR", serif;
    font-size: 2em;
    padding-top: 50px;
}

.partner-festivals-list {
    color: #3CB9FC;
    font-family: "Inter-Regular", "Noto Serif KR", serif;
    font-size: 1em;
}

#img5 {
    height: 60px;
    padding-top: 3vh;
}

#img6 {
    padding-left: 0;
    padding-top: 2vh;
}

.containerlettre {
    display: flex;
}

.containerreseau {
    position: relative;
}

#img7 {
    padding-left: 38vw;
}

.image-list {
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 18px;
    width: auto; /* Modification de la largeur */
}

.image-item {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.image-item:hover {
    opacity: 0.5;
}
